
h1{
color: #da7373;
}
h2{            
    color: rgb(121, 10, 65);
}
h3{
    color: #1f5a81;
}

p{
    color: #6C464E
}
body{
    background: #84bb9b;
}
nav a{
    color: #EEEBD3 ;
}
a{
    color: #5A9367;
}
.body{
    background: #BEB8EB;
}
.header{
    color: #334139;
}